@import 'tailwindcss';

@config "../tailwind.config.js";

html,
body {
  @apply bg-background-dark dark:bg-dark-background-dark text-text dark:text-dark-text;
}

@layer utilities {
  .gradient-accent {
    @apply from-accent-light via-accent to-accent-dark dark:from-dark-accent-light dark:via-dark-accent dark:to-dark-accent-dark bg-gradient-to-br;
  }

  .text-gradient-accent {
    @apply from-accent-light via-accent to-accent-dark dark:from-dark-accent-light dark:via-dark-accent dark:to-dark-accent-dark bg-gradient-to-br bg-clip-text text-transparent;
  }

  .bg-radial-gradient {
    background-image: radial-gradient(
      circle at bottom center,
      rgba(213, 213, 213, 0.15),
      transparent 70%
    );
  }

  @media (prefers-color-scheme: dark) {
    .bg-radial-gradient {
      background-image: radial-gradient(
        circle at bottom center,
        rgba(165, 165, 165, 0.15),
        transparent 80%
      );
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(5%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  @keyframes scroll-right {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(5%);
    }
  }

  .devicon-row {
    display: flex;
    gap: 8rem;
    white-space: nowrap;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 60s;
    opacity: 0.1;
    pointer-events: none;
    user-select: none;
  }

  .devicon-row.forward {
    animation-name: scroll-left;
  }

  .devicon-row.reverse {
    animation-name: scroll-right;
  }

  .active-sidebar-link {
    @apply border-accent dark:border-dark-accent text-text dark:text-dark-text bg-background dark:bg-dark-background;
  }

  .inactive-sidebar-link {
    @apply border-text-muted dark:border-dark-text-muted text-text-muted dark:text-dark-text-muted;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}
