@import 'tailwindcss';

@config "../tailwind.config.js";

html,
body {
  @apply bg-background dark:bg-background-dark;
}

@layer utilities {
  .gradient-accent {
    @apply from-accent-light-start via-accent-light-mid to-accent-light-end dark:from-accent-dark-start dark:via-accent-dark-mid dark:to-accent-dark-end bg-gradient-to-br;
  }

  .text-gradient-accent {
    @apply from-accent-light-start via-accent-light-mid to-accent-light-end dark:from-accent-dark-start dark:via-accent-dark-mid dark:to-accent-dark-end bg-gradient-to-br bg-clip-text text-transparent;
  }

  .bg-radial-gradient {
    background-image: radial-gradient(
      circle at bottom center,
      rgba(184, 230, 132, 0.15),
      transparent 70%
    );
  }

  @media (prefers-color-scheme: dark) {
    .bg-radial-gradient {
      background-image: radial-gradient(
        circle at bottom center,
        rgba(162, 162, 162, 0.15),
        transparent 80%
      );
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(5%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  @keyframes scroll-right {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(5%);
    }
  }

  .devicon-row {
    display: flex;
    gap: 8rem;
    white-space: nowrap;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 60s;
    opacity: 0.1;
    pointer-events: none;
    user-select: none;
  }

  .devicon-row.forward {
    animation-name: scroll-left;
  }

  .devicon-row.reverse {
    animation-name: scroll-right;
  }

  .active-sidebar-link {
    @apply border-accent dark:border-accent-dark text-primary-text dark:text-primary-text-dark;
  }

  .inactive-sidebar-link {
    @apply border-secondary-text dark:border-secondary-text-dark text-secondary-text dark:text-secondary-text-dark;
  }
}
